# Basic Statistical Testing

In [1]:
import numpy as np
import pandas as pd
import scipy as stats

In [2]:
df = pd.read_csv('datasets/Week4/grades.csv')

In [3]:
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [4]:
print("There are {} rows and {} comlumns ".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 comlumns

In [6]:
early_finish = df[pd.to_datetime(df['assignment1_submission']) <='2016']

In [7]:
early_finish

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,71.481182,2015-10-03 09:04:46.358000000,70.981182,2015-10-06 03:57:28.420000000,64.603064,2015-10-12 07:58:25.081000000,63.703064,2015-10-17 07:59:49.005000000,50.962451,2015-10-18 02:29:34.374000000,45.866206,2015-10-27 00:21:47.208000000
2309,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,82.640274,2015-10-01 23:25:20.529000000,65.752219,2015-10-05 02:06:11.522000000,53.341775,2015-10-22 23:58:36.426000000,47.197598,2015-10-16 12:32:56.809000000,47.197598,2015-10-24 12:16:54.993000000,37.758078,2015-10-26 10:34:41.293000000
2311,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,75.367870,2015-11-29 02:43:27.932000000,59.934296,2015-12-03 05:30:39.218000000,48.687437,2015-12-09 15:56:44.895000000,43.008693,2015-12-13 06:18:01.342000000,38.707824,2015-12-20 02:39:39.248000000,38.707824,2015-12-22 13:34:42.931000000
2312,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,73.269463,2015-10-20 08:09:27.418000000,58.255570,2015-11-18 19:07:06.930000000,58.955570,2015-12-10 08:54:54.871000000,52.250013,2015-11-23 19:40:00.434000000,41.800010,2015-11-29 14:23:43.659000000,41.800010,2015-12-04 09:56:07.156000000
2314,DDE0526B-7DA4-80E8-C2A6-D097F3826029,80.318105,2015-10-04 09:46:03.403000000,79.818105,2015-10-06 10:28:30.820000000,64.594484,2015-10-13 17:06:29.179000000,50.955587,2015-10-06 16:18:35.513000000,40.764470,2015-10-23 17:03:26.939000000,40.764470,2015-10-26 15:56:55.460000000

In [8]:
let_finish = df[~df.index.isin(early_finish.index)]

In [9]:
let_finish

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2303,DDE0526B-7DA4-80E8-C2A6-D097F3826029,97.215052,2016-01-23 09:19:40.494000000,77.772041,2016-01-26 08:38:13.085000000,69.994837,2016-01-29 15:04:34.705000000,62.995353,2016-02-06 12:51:00.647000000,50.396283,2016-02-11 15:44:08.113000000,50.396283,2016-02-14 09:03:33.466000000
2306,DDE0526B-7DA4-80E8-C2A6-D097F3826029,47.696703,2016-06-22 20:21:58.182000000,38.157363,2016-06-23 18:22:45.622000000,38.157363,2016-07-02 22:18:59.529000000,30.525890,2016-06-28 22:05:38.100000000,30.525890,2016-07-09 20:08:14.734000000,30.525890,2016-07-17 15:17:58.502000000
2307,1F51E050-78F7-F270-1B90-ED1BC0376763,94.595758,2016-01-20 23:22:16.592000000,85.136182,2016-01-27 22:30:29.914000000,76.622564,2016-01-31 15:39:45.088000000,68.960307,2016-02-06 21:43:05.836000000,62.064277,2016-02-14 18:52:48.594000000,49.651421,2016-02-19 20:36:16.121000000
2310,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,77.684611,2016-03-07 02:52:24.378000000,69.916150,2016-03-11 22:02:39.161000000,69.916150,2016-03-17 07:30:09.261000000,69.916150,2016-03-18 18:01:24.525000000,55.932920,2016-03-20 06:38:12.120000000,50.339628,2016-03-25 11:00:06.923000000
2313,1F51E050-78F7-F270-1B90-ED1BC0376763,87.268366,2016-04-03 09:04:51.646000000,87.268366,2016-04-08 19:24:29.095000000,87.268366,2016-04-12 05:43:33.853000000,69.814693,2016-04-14 10:43:58.104000000,55.851754,2016-04-19 05:37:19.322000000,55.851754,2016-04-23 03:44:06.813000000

In [12]:
print(early_finish['assignment1_grade'].mean())
print(let_finish['assignment1_grade'].mean())

74.94728457024304
74.0450648477065

In [13]:
from scipy.stats import ttest_ind

ttest_ind(early_finish['assignment1_grade'], let_finish['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)

In [14]:
ttest_ind(early_finish['assignment2_grade'], let_finish['assignment2_grade'])

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)

In [15]:
ttest_ind(early_finish['assignment3_grade'], let_finish['assignment3_grade'])

Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)

In [16]:
ttest_ind(early_finish['assignment4_grade'], let_finish['assignment4_grade'])

Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)

In [17]:
ttest_ind(early_finish['assignment5_grade'], let_finish['assignment5_grade'])

Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)

In [19]:
df1 = pd.DataFrame([np.random.random(100) for x in range(100)])

In [20]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.128143,0.957294,0.366240,0.805678,0.198672,0.405864,0.571702,0.581095,0.235026,0.721289,...,0.790962,0.995921,0.154681,0.841851,0.060578,0.437252,0.999071,0.590188,0.293024,0.071212
1,0.248157,0.395342,0.177164,0.728851,0.710830,0.430450,0.597388,0.951315,0.027275,0.904904,...,0.795094,0.183408,0.089495,0.172971,0.595405,0.476318,0.323534,0.666868,0.705157,0.021998
2,0.956388,0.622306,0.007038,0.542025,0.394370,0.811024,0.617364,0.489642,0.666639,0.319010,...,0.806904,0.943704,0.962847,0.870171,0.961907,0.945626,0.269108,0.305578,0.407505,0.583987
3,0.679288,0.777686,0.394925,0.388285,0.706030,0.039745,0.038522,0.544467,0.824305,0.215407,...,0.906029,0.873820,0.482872,0.197603,0.850081,0.984740,0.702696,0.602099,0.442995,0.636230
4,0.343881,0.137875,0.535598,0.633771,0.302094,0.809028,0.515139,0.143308,0.080611,0.751739,...,0.887398,0.285357,0.686192,0.338942,0.809336,0.628263,0.158186,0.064123,0.646407,0.023647

In [22]:
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])

In [23]:
df2

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.260007,0.116320,0.417676,0.820452,0.627703,0.378914,0.071342,0.814634,0.811003,0.567290,...,0.177067,0.042960,0.569780,0.970862,0.753034,0.613632,0.436719,0.476183,0.599662,0.993503
1,0.963334,0.022205,0.826630,0.097399,0.456893,0.082172,0.131677,0.670814,0.497495,0.992624,...,0.571177,0.929510,0.730101,0.310737,0.911942,0.098153,0.227523,0.586773,0.548358,0.318360
2,0.782032,0.595996,0.016497,0.060559,0.874829,0.282227,0.282369,0.541120,0.855414,0.317705,...,0.255656,0.036840,0.774458,0.524787,0.986670,0.315801,0.786325,0.956726,0.004651,0.975899
3,0.306170,0.593339,0.655305,0.330671,0.228134,0.166175,0.442187,0.987280,0.573932,0.269158,...,0.810410,0.077943,0.081138,0.240116,0.677387,0.387862,0.312891,0.263802,0.664754,0.618412
4,0.768773,0.093560,0.224832,0.252177,0.046078,0.250809,0.723687,0.305965,0.246607,0.586095,...,0.099042,0.147185,0.204132,0.775037,0.493709,0.324464,0.388241,0.100131,0.453351,0.715764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.736019,0.229362,0.482233,0.509612,0.410983,0.477626,0.517283,0.083325,0.371704,0.684200,...,0.026161,0.445495,0.702381,0.024261,0.675009,0.381241,0.764304,0.233709,0.733674,0.692365
96,0.512972,0.195647,0.249450,0.016248,0.202284,0.373213,0.978962,0.885168,0.704476,0.964542,...,0.509096,0.424522,0.819107,0.417146,0.806570,0.773756,0.064490,0.405642,0.112326,0.322551
97,0.400146,0.187378,0.697551,0.198756,0.636921,0.693372,0.078575,0.156871,0.770456,0.504439,...,0.470735,0.718194,0.656502,0.558882,0.718035,0.592973,0.452879,0.669700,0.611428,0.746792
98,0.634579,0.336682,0.608841,0.407866,0.963313,0.885923,0.337136,0.021027,0.353061,0.136845,...,0.554879,0.745674,0.896410,0.253346,0.218688,0.214430,0.527202,0.305740,0.554422,0.491855
99,0.577637,0.000727,0.103144,0.720865,0.222558,0.233028,0.672507,0.657484,0.409646,0.067367,...,0.297896,0.324049,0.598941,0.534923,0.535209,0.995293,0.322622,0.819829,0.980634,0.743301

In [25]:
pd.DataFrame([np.random.random(100) ])

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.205898,0.74038,0.043598,0.398912,0.582665,0.315205,0.959272,0.827355,0.661477,0.798145,...,0.274212,0.326012,0.65824,0.05329,0.027345,0.411401,0.164244,0.719522,0.214514,0.938412

In [26]:
pd.DataFrame([np.random.random(100) for x in range(100) ])

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.724942,0.409936,0.573335,0.407051,0.694686,0.615594,0.307633,0.857771,0.990304,0.297308,...,0.335289,0.756177,0.143785,0.814831,0.455001,0.624427,0.083938,0.300707,0.355202,0.789641
1,0.243442,0.654437,0.887661,0.645078,0.260713,0.111363,0.625860,0.041949,0.568336,0.662188,...,0.267419,0.548355,0.098903,0.280646,0.576258,0.294929,0.256036,0.209742,0.626976,0.707801
2,0.480277,0.600281,0.859410,0.577734,0.298548,0.794893,0.074086,0.022628,0.844062,0.763234,...,0.051622,0.426284,0.337019,0.429818,0.859925,0.477052,0.700079,0.862867,0.091737,0.379118
3,0.565870,0.589148,0.397432,0.713822,0.477252,0.764009,0.963276,0.424478,0.489556,0.350396,...,0.025085,0.550505,0.082677,0.464036,0.387214,0.571257,0.084570,0.738460,0.735866,0.806172
4,0.103635,0.422915,0.563317,0.681475,0.133775,0.324848,0.772982,0.573758,0.656907,0.250891,...,0.882101,0.149286,0.777773,0.477812,0.864260,0.698073,0.872077,0.722043,0.421776,0.318882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.055416,0.992937,0.690547,0.222745,0.996930,0.870451,0.499166,0.405902,0.803738,0.058789,...,0.943992,0.563934,0.301306,0.367568,0.232278,0.043620,0.866300,0.576828,0.326636,0.637930
96,0.847646,0.902090,0.101218,0.739120,0.608615,0.250980,0.828609,0.991296,0.950045,0.777606,...,0.850892,0.662966,0.800391,0.812511,0.760350,0.949325,0.081006,0.909886,0.881079,0.693705
97,0.323593,0.171432,0.616248,0.142938,0.043284,0.700374,0.660778,0.217146,0.009723,0.977753,...,0.218932,0.197364,0.339940,0.368430,0.379466,0.514591,0.825555,0.305059,0.402110,0.926148
98,0.575997,0.400737,0.767958,0.005280,0.085693,0.760481,0.673707,0.914065,0.404186,0.902210,...,0.360965,0.156052,0.627460,0.701695,0.004664,0.461910,0.055093,0.151482,0.432522,0.002467
99,0.370282,0.102432,0.557223,0.464409,0.833103,0.626839,0.759674,0.937576,0.345356,0.281221,...,0.054674,0.531609,0.318901,0.878563,0.622524,0.244714,0.257413,0.141247,0.010679,0.418694

In [44]:
def test_columns(alpha=0.1):
    num_diff  = 0
    
    for col in df1.columns:
        teststat,pval = ttest_ind(df1[col], df2[col])
        
        if (pval<= alpha):
            print('col {} is statistically significate diff at alpha={}, pval={}'.format(col,alpha,pval))
            num_diff = num_diff+1
    print('Total number different was {} which is {} %'.format(num_diff,float(num_diff)/len(df1.columns)*100))

In [45]:
test_columns()

col 5 is statistically significate diff at alpha=0.1, pval=0.014609777613612391
col 9 is statistically significate diff at alpha=0.1, pval=0.057335611791429715
col 14 is statistically significate diff at alpha=0.1, pval=0.07345698783684192
col 20 is statistically significate diff at alpha=0.1, pval=0.05070875750199553
col 26 is statistically significate diff at alpha=0.1, pval=0.00506333528063023
col 28 is statistically significate diff at alpha=0.1, pval=0.04168803557838423
col 32 is statistically significate diff at alpha=0.1, pval=0.07207829033178094
col 35 is statistically significate diff at alpha=0.1, pval=0.005379054473026811
col 38 is statistically significate diff at alpha=0.1, pval=0.09015984171225933
col 42 is statistically significate diff at alpha=0.1, pval=0.006357908368467538
col 57 is statistically significate diff at alpha=0.1, pval=0.0862507775889975
col 60 is statistically significate diff at alpha=0.1, pval=0.011388077552025488
col 61 is statistically significate diff at alpha=0.1, pval=0.08969948546387907
col 77 is statistically significate diff at alpha=0.1, pval=0.01918584168796117
col 78 is statistically significate diff at alpha=0.1, pval=0.054221664479638526
col 90 is statistically significate diff at alpha=0.1, pval=0.008415564369038253
col 99 is statistically significate diff at alpha=0.1, pval=0.07453080508237984
Total number different was 17 which is 17.0 %

In [46]:
df2 = pd.DataFrame([np.random.chisquare(df=1, size=100) for x in range(1000)])

In [49]:
test_columns()

col 0 is statistically significate diff at alpha=0.1, pval=0.0002186682523515916
col 1 is statistically significate diff at alpha=0.1, pval=0.00020287845369454225
col 2 is statistically significate diff at alpha=0.1, pval=0.0002671998775180356
col 3 is statistically significate diff at alpha=0.1, pval=0.0009934183692106456
col 4 is statistically significate diff at alpha=0.1, pval=0.0007181392147047943
col 5 is statistically significate diff at alpha=0.1, pval=0.0014963668594252244
col 6 is statistically significate diff at alpha=0.1, pval=0.00038281004249467957
col 7 is statistically significate diff at alpha=0.1, pval=0.00187900953500446
col 8 is statistically significate diff at alpha=0.1, pval=0.00027482432737739517
col 9 is statistically significate diff at alpha=0.1, pval=0.00040082634372960653
col 10 is statistically significate diff at alpha=0.1, pval=0.0003641658677148797
col 11 is statistically significate diff at alpha=0.1, pval=0.0007007644625221348
col 12 is statistically significate diff at alpha=0.1, pval=0.002600930174586882
col 13 is statistically significate diff at alpha=0.1, pval=0.0005858769191035374
col 14 is statistically significate diff at alpha=0.1, pval=0.0018805036079325838
col 15 is statistically significate diff at alpha=0.1, pval=0.0008371716333134331
col 16 is statistically significate diff at alpha=0.1, pval=0.00029142588175848323
col 17 is statistically significate diff at alpha=0.1, pval=0.0008342191882308101
col 18 is statistically significate diff at alpha=0.1, pval=0.0003582418292547018
col 19 is statistically significate diff at alpha=0.1, pval=0.0018983697533266745
col 20 is statistically significate diff at alpha=0.1, pval=0.003158585215539163
col 21 is statistically significate diff at alpha=0.1, pval=0.0002764011124538758
col 22 is statistically significate diff at alpha=0.1, pval=0.00012106912285158964
col 23 is statistically significate diff at alpha=0.1, pval=0.0004047585505852536
col 24 is statistically significate diff at alpha=0.1, pval=0.00039360576359173725
col 25 is statistically significate diff at alpha=0.1, pval=0.00047864338688602604
col 26 is statistically significate diff at alpha=0.1, pval=0.0009234507392384987
col 27 is statistically significate diff at alpha=0.1, pval=0.00046050164690609996
col 28 is statistically significate diff at alpha=0.1, pval=0.0007203961161971082
col 29 is statistically significate diff at alpha=0.1, pval=0.00027145563268143327
col 30 is statistically significate diff at alpha=0.1, pval=0.0004097786311835312
col 31 is statistically significate diff at alpha=0.1, pval=0.003754736789190772
col 32 is statistically significate diff at alpha=0.1, pval=0.0010476585884235333
col 33 is statistically significate diff at alpha=0.1, pval=9.801507769122916e-05
col 34 is statistically significate diff at alpha=0.1, pval=0.0005011863480747872
col 35 is statistically significate diff at alpha=0.1, pval=0.00017289090726010445
col 36 is statistically significate diff at alpha=0.1, pval=0.00028145352348086155
col 37 is statistically significate diff at alpha=0.1, pval=0.0016735870754288945
col 38 is statistically significate diff at alpha=0.1, pval=9.845144981956888e-05
col 39 is statistically significate diff at alpha=0.1, pval=0.0002562590494576586
col 40 is statistically significate diff at alpha=0.1, pval=0.0001631566909239865
col 41 is statistically significate diff at alpha=0.1, pval=0.0003304776062274365
col 42 is statistically significate diff at alpha=0.1, pval=0.0018519980323737177
col 43 is statistically significate diff at alpha=0.1, pval=0.0008606234476832011
col 44 is statistically significate diff at alpha=0.1, pval=0.0009532995445438863
col 45 is statistically significate diff at alpha=0.1, pval=0.0005396364375558592
col 46 is statistically significate diff at alpha=0.1, pval=0.00029974197679890073
col 47 is statistically significate diff at alpha=0.1, pval=0.00020116114057406315
col 48 is statistically significate diff at alpha=0.1, pval=0.000483244484126128
col 49 is statistically significate diff at alpha=0.1, pval=7.433504157950141e-05
col 50 is statistically significate diff at alpha=0.1, pval=0.00034852331104746187
col 51 is statistically significate diff at alpha=0.1, pval=0.00010261363121054241
col 52 is statistically significate diff at alpha=0.1, pval=0.0007041439019378968
col 53 is statistically significate diff at alpha=0.1, pval=0.0003697904830045815
col 54 is statistically significate diff at alpha=0.1, pval=0.0010539152176806431
col 55 is statistically significate diff at alpha=0.1, pval=0.0001687713182672653
col 56 is statistically significate diff at alpha=0.1, pval=0.0005097756123453682
col 57 is statistically significate diff at alpha=0.1, pval=0.0006921533633293693
col 58 is statistically significate diff at alpha=0.1, pval=0.0009924273745506539
col 59 is statistically significate diff at alpha=0.1, pval=0.0004132573892312873
col 60 is statistically significate diff at alpha=0.1, pval=0.00013469405491970996
col 61 is statistically significate diff at alpha=0.1, pval=0.0019918541788842103
col 62 is statistically significate diff at alpha=0.1, pval=0.0001334885807789847
col 63 is statistically significate diff at alpha=0.1, pval=0.0001145575556900007
col 64 is statistically significate diff at alpha=0.1, pval=0.0001607371647467369
col 65 is statistically significate diff at alpha=0.1, pval=0.002719288824547185
col 66 is statistically significate diff at alpha=0.1, pval=0.00020683779714058558
col 67 is statistically significate diff at alpha=0.1, pval=0.00016084239857112819
col 68 is statistically significate diff at alpha=0.1, pval=0.00024993542498253886
col 69 is statistically significate diff at alpha=0.1, pval=0.0002520892889114629
col 70 is statistically significate diff at alpha=0.1, pval=0.00035833876600349364
col 71 is statistically significate diff at alpha=0.1, pval=9.256376087111109e-05
col 72 is statistically significate diff at alpha=0.1, pval=0.0001007725999899429
col 73 is statistically significate diff at alpha=0.1, pval=0.0013505299847150788
col 74 is statistically significate diff at alpha=0.1, pval=0.0006801737967162018
col 75 is statistically significate diff at alpha=0.1, pval=0.0014369430982194467
col 76 is statistically significate diff at alpha=0.1, pval=0.0005816497983746247
col 77 is statistically significate diff at alpha=0.1, pval=0.00025492633472579595
col 78 is statistically significate diff at alpha=0.1, pval=0.001979873306824714
col 79 is statistically significate diff at alpha=0.1, pval=0.0017502573780008306
col 80 is statistically significate diff at alpha=0.1, pval=0.0006554141433441269
col 81 is statistically significate diff at alpha=0.1, pval=0.00045524663917958884
col 82 is statistically significate diff at alpha=0.1, pval=0.00010246043080070052
col 83 is statistically significate diff at alpha=0.1, pval=0.0006827733162440361
col 84 is statistically significate diff at alpha=0.1, pval=0.001562651611006885
col 85 is statistically significate diff at alpha=0.1, pval=0.00010496623071907766
col 86 is statistically significate diff at alpha=0.1, pval=0.00013277017174389958
col 87 is statistically significate diff at alpha=0.1, pval=7.872809601692607e-05
col 88 is statistically significate diff at alpha=0.1, pval=0.0006580174461563962
col 89 is statistically significate diff at alpha=0.1, pval=0.0005586349640460689
col 90 is statistically significate diff at alpha=0.1, pval=0.006603115113796462
col 91 is statistically significate diff at alpha=0.1, pval=0.0016694386073179094
col 92 is statistically significate diff at alpha=0.1, pval=0.00016314972517884367
col 93 is statistically significate diff at alpha=0.1, pval=0.0004657930923580021
col 94 is statistically significate diff at alpha=0.1, pval=0.0019650222536845663
col 95 is statistically significate diff at alpha=0.1, pval=0.0021082589994877014
col 96 is statistically significate diff at alpha=0.1, pval=0.0002095800614583422
col 97 is statistically significate diff at alpha=0.1, pval=0.0006837694698312799
col 98 is statistically significate diff at alpha=0.1, pval=7.42932703192071e-05
col 99 is statistically significate diff at alpha=0.1, pval=3.291284979744608e-05
Total number different was 100 which is 100.0 %

# Other Forms of Structured Data