In [1]:
x = 5
print(x)

5

In [2]:
print(x+1)

6

In [3]:
for i in range(0,1000):
    m= i*i-1
print(m)

998000

In [4]:
# i = 1
# while i < 100:
#     i=1

In [5]:
print(x)

5

# Big Heading

__Special Letter__

# Python Function

In [6]:
x=1
y=2
x+y

3

In [7]:
x

1

In [10]:
def add_numbers(x,y):
    return x+y

add_numbers(1,2)

3

In [11]:
add_numbers(6,7)

13

### Default Perameter

In [12]:
def add_numbers(x,y,z=None):
    if(z==None):
        return x+y
    else: 
        return x+y+z
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [16]:
def add_numbers(x,y,z=None,flag=False):
    if(flag):
        print('flag is true!')
    if(z==None):
        return x+y
    else:
        return x+y+z
print(add_numbers(5,7, flag=False))

12

In [17]:
def add_numbers(x,y,z=None,flag=False):
    if(flag):
        print('flag is true!')
    if(z==None):
        return x+y
    else:
        return x+y+z
print(add_numbers(5,7, flag=True))

flag is true!
12

# Python Function And Sequences

In [18]:
type('This is a String')

str

In [19]:
type(None)

NoneType

In [20]:
type(1)

int

In [21]:
type(1.0)

float

In [22]:
type(add_numbers)

function

### Python Tuple
#### **1. Tuples are used to store multiple items in a single variable.**
#### **2.A tuple is a collection which is ordered and unchangeable.**
#### **3. Tuples are written with round brackets.()**

In [23]:
x = (1,'a',2,'b')

In [24]:
type(x)

tuple

In [25]:
len(x)

4

In [26]:
# Access Tuple
x[1]

'a'

### Python List

In [27]:
x = [1,'a',2,'b']

In [28]:
type(x)

list

In [29]:
x.append(3.3)

In [30]:
x

[1, 'a', 2, 'b', 3.3]

In [31]:
x.pop(4)

3.3

In [32]:
x

[1, 'a', 2, 'b']

In [33]:
x.append(3.3)

In [34]:
del x[4]

In [35]:
x

[1, 'a', 2, 'b']

In [36]:
for item in x:
    print (item)

1
a
2
b

In [37]:
i=0
while(i != len(x)):
    print(x[i])
    i = i+1

1
a
2
b

In [39]:
# List concat
[1,2,3]+[3,4,5]

[1, 2, 3, 3, 4, 5]

In [40]:
list1 = [1,2,3]
list2 = [3,4,5]

In [41]:
for x in list2 : 
    list1.append(x)

In [43]:
list1

[1, 2, 3, 3, 4, 5]

In [44]:
a = [1]*3

In [45]:
a

[1, 1, 1]

In [46]:
type(a)

list

In [47]:
1 in a

True

In [49]:
1 in [1,3, 5,6,33,2]

True

In [59]:
a[:2]

[1, 1]

### Python String

In [54]:
x = 'this is a string'
print(x[0])
print(x[0:2])
print(x[0:4])

t
th
this

In [51]:
 x[-1]

'g'

In [55]:
x[-2]

'n'

In [56]:
x[-4:-2]

'ri'

In [57]:
x[3:]

's is a string'

In [58]:
x[:3]

'thi'

In [60]:
firstname = 'Shohel'
lastname = 'Hossain'
print(firstname + ' '+ lastname)

Shohel Hossain

In [61]:
print(firstname * 3)

ShohelShohelShohel

In [63]:
print('Sho' in firstname)

True

In [64]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')

In [66]:
firstname[:3]

['Christopher', 'Arthur', 'Hansen']

In [67]:
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')

In [72]:
lastname[-2]

'Hansen'

### Python Dictionary

In [73]:
  x = {'shohel':'shohel.barcode@gmail.com', 'Siam':'siam@gmail.com'}

In [75]:
x['shohel']

'shohel.barcode@gmail.com'

In [76]:
x['Nitish'] = None

In [77]:
x['Nitish']

In [79]:
for name in x:
    print(x[name])

shohel.barcode@gmail.com
siam@gmail.com
None

In [80]:
for name in x:
    print(name)

shohel
Siam
Nitish

In [81]:
for email in x.values():
    print(email)

shohel.barcode@gmail.com
siam@gmail.com
None

In [85]:
for name,email in x.items():
    print(name, email)

shohel shohel.barcode@gmail.com
Siam siam@gmail.com
Nitish None

In [92]:
x = ('shohel','hossain','shohel.barcode@gmail.com')

In [98]:
fname, lname,email = x

In [99]:
x

('shohel', 'hossain', 'shohel.barcode@gmail.com')

In [100]:
fname

'shohel'

In [101]:
lname

'hossain'

In [102]:
x = ('shohel','hossain','shohel.barcode@gmail.com','facebook.com/shohel-hossain')

In [103]:
fname, lname,email = x

ValueError: too many values to unpack (expected 3)

In [104]:
fname, lname,email, facebook = x

In [109]:
  x = {'shohel':'shohel.barcode@gmail.com', 'Siam':'siam@gmail.com'}

In [110]:
x.keys()

dict_keys(['shohel', 'Siam'])

In [111]:
x.values()

dict_values(['shohel.barcode@gmail.com', 'siam@gmail.com'])

# Python More String

In [112]:
print('Chris' + 2)

TypeError: can only concatenate str (not "int") to str

In [113]:
print('shohel' + str(2))

shohel2

In [116]:
sales_record = {
    'price':3.23,
    'num_item': 3
    'person' : 'Chris'
    
}

In [121]:
sales_statement = "{} bought {} items at a price of {}  each for total of {}"

print(sales_statement.format(sales_record['person'],
                             sales_record['num_item'],
                             sales_record['price'],
                             sales_record['num_item'] * sales_record['price']
                            ))

Chris bought 3 items at a price of 3.23  each for total of 9.69

In [123]:
sales_statement = f"{sales_record['person']} bought {sales_record['num_item']} items at a price of {sales_record['price']}  each for total of {sales_record['num_item'] * sales_record['price']}"

In [124]:
sales_statement

'Chris bought 3 items at a price of 3.23  each for total of 9.69'

# Python Demonstration: Reading and Writing CSV files

In [126]:
import csv
%precision 2
with open('matches.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

In [128]:
mpg[0]

{'id': '1',
 'season': '2017',
 'city': 'Hyderabad',
 'date': '2017-04-05',
 'team1': 'Sunrisers Hyderabad',
 'team2': 'Royal Challengers Bangalore',
 'toss_winner': 'Royal Challengers Bangalore',
 'toss_decision': 'field',
 'result': 'normal',
 'dl_applied': '0',
 'winner': 'Sunrisers Hyderabad',
 'win_by_runs': '35',
 'win_by_wickets': '0',
 'player_of_match': 'Yuvraj Singh',
 'venue': 'Rajiv Gandhi International Stadium, Uppal',
 'umpire1': 'AY Dandekar',
 'umpire2': 'NJ Llong',
 'umpire3': ''}

In [129]:
mpg[:3]

[{'id': '1',
  'season': '2017',
  'city': 'Hyderabad',
  'date': '2017-04-05',
  'team1': 'Sunrisers Hyderabad',
  'team2': 'Royal Challengers Bangalore',
  'toss_winner': 'Royal Challengers Bangalore',
  'toss_decision': 'field',
  'result': 'normal',
  'dl_applied': '0',
  'winner': 'Sunrisers Hyderabad',
  'win_by_runs': '35',
  'win_by_wickets': '0',
  'player_of_match': 'Yuvraj Singh',
  'venue': 'Rajiv Gandhi International Stadium, Uppal',
  'umpire1': 'AY Dandekar',
  'umpire2': 'NJ Llong',
  'umpire3': ''},
 {'id': '2',
  'season': '2017',
  'city': 'Pune',
  'date': '2017-04-06',
  'team1': 'Mumbai Indians',
  'team2': 'Rising Pune Supergiant',
  'toss_winner': 'Rising Pune Supergiant',
  'toss_decision': 'field',
  'result': 'normal',
  'dl_applied': '0',
  'winner': 'Rising Pune Supergiant',
  'win_by_runs': '0',
  'win_by_wickets': '7',
  'player_of_match': 'SPD Smith',
  'venue': 'Maharashtra Cricket Association Stadium',
  'umpire1': 'A Nand Kishore',
  'umpire2': 'S Ravi',
  'umpire3': ''},
 {'id': '3',
  'season': '2017',
  'city': 'Rajkot',
  'date': '2017-04-07',
  'team1': 'Gujarat Lions',
  'team2': 'Kolkata Knight Riders',
  'toss_winner': 'Kolkata Knight Riders',
  'toss_decision': 'field',
  'result': 'normal',
  'dl_applied': '0',
  'winner': 'Kolkata Knight Riders',
  'win_by_runs': '0',
  'win_by_wickets': '10',
  'player_of_match': 'CA Lynn',
  'venue': 'Saurashtra Cricket Association Stadium',
  'umpire1': 'Nitin Menon',
  'umpire2': 'CK Nandan',
  'umpire3': ''}]

In [130]:
len(mpg)

756

In [132]:
mpg[0].keys()

dict_keys(['id', 'season', 'city', 'date', 'team1', 'team2', 'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2', 'umpire3'])

In [133]:
sum(float(d['win_by_wickets']) for d in mpg ) /len(mpg)

3.35

In [134]:
sum(float(runs['win_by_runs']) for runs in mpg ) /len(mpg)

13.28

# Python Dates and Times

In [135]:
import datetime as dt
import time as tm

In [136]:
tm.time()

1665814583.51

In [138]:
dtnow = dt.datetime.fromtimestamp(tm.time())

In [139]:
dtnow

datetime.datetime(2022, 10, 15, 12, 17, 32, 647521)

In [140]:
dtnow.year

2022

In [141]:
dtnow.month

10

In [142]:
dtnow.day

15

In [143]:
dtnow.hour

12

In [144]:
dtnow.minute, dtnow.second

(17, 32)

In [147]:
delta  = dt.timedelta(100)

In [148]:
delta

datetime.timedelta(days=100)

In [149]:
today = dt.date.today()

In [151]:
today

datetime.date(2022, 10, 15)

In [152]:
today > today-delta

True

In [153]:
from datetime import timedelta
delta = timedelta(
    days=50,
    seconds=27,
    microseconds=10,
    milliseconds=29000,
    minutes=5,
    hours=8,
    weeks=2
)

In [154]:
delta

datetime.timedelta(days=64, seconds=29156, microseconds=10)

In [155]:
today - delta

datetime.date(2022, 8, 12)

In [157]:
delta  = dt.timedelta(days=-1)

In [158]:
today - delta

datetime.date(2022, 10, 16)

In [159]:
delta.min

datetime.timedelta(days=-999999999)

In [160]:
delta.max

datetime.timedelta(days=999999999, seconds=86399, microseconds=999999)

In [163]:
from datetime import timedelta
delta1 = timedelta(seconds=57)
delta2 = timedelta(hours=25, seconds=2)
print(delta2)
delta2 != delta1

delta2 == 5
print(delta2)

1 day, 1:00:02
1 day, 1:00:02

In [164]:
delta2

datetime.timedelta(days=1, seconds=3602)

In [166]:
delta.total_seconds()

-86400.00

In [170]:
ddate = dt.date.fromisoformat('2019-12-04')

In [172]:
ddate.year

2019

In [173]:
ddate.month

12

# Advanced Python Objects, map()

In [193]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
        
    def set_location(self, new_location):
        self.location = new_location
        
    def check_name(self):
        print(self.name)
        
    def check_location(self):
        print(self.location)

In [198]:
person = Person()

In [189]:
person.set_name('Shohel')

In [190]:
person.check_name()

Shohel

In [201]:
person.set_location('Konabari,Gazipur')

In [202]:
person.check_location()

Konabari,Gazipur

In [203]:
person.department

'School of Information'

### Map Function

In [211]:
li = [10,20,30,40,50]

In [220]:
def inc(n):
    return n*n

In [224]:
result = list(map(inc,li))

In [225]:
result

[100, 400, 900, 1600, 2500]

In [226]:
for i in result:
    print(i)

100
400
900
1600
2500

In [236]:
li2 = [2,4,6,6,8]

In [237]:
result = map(min, li,li2)

In [238]:
result

In [239]:
for i in result:
    print(i)

2
4
6
6
8

# Advanced Python Lambda and List Comprehensions

In [244]:
new_li = [item*2 for item in li]

In [246]:
li

[10, 20, 30, 40, 50]

In [245]:
new_li

[20, 40, 60, 80, 100]

In [ ]:
new_li2 = []

In [257]:
li3 = [item for item in range(50) if item %2==0]

In [258]:
print(li3, end='')

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [259]:
my_function = lambda a,b,c:a+b

In [260]:
my_function(1,4,5)

5